
body {
    background: #F4F4F4;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    hyphens: none
}

#sidebar a {
    color: #FEFEFE !important
}

#header-wrapper {
    background: #8451a1;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #9c6fb6;
    padding: 1rem;
}

#homelinks {
    background-color: #9c6fb6;
    color: #fff;
    padding: 7px 0;
    border-bottom: 4px solid #9c6fb6;
}

h3 {
    border-bottom: solid 1px #E0E0E0;
}

code {
    border-radius: 0 !important;
}

pre {
    padding: 2px !important;
    background: #9c6fb6 !important;
    border-radius: 0px !important;
}

table {
    border: 1px solid #CCCCCC;
    table-layout: auto;
}
th {
    background: #DDD;
    padding: 0.5rem;
}
td {
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
}